<!DOCTYPE html>
<html
        lang="en"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="layout">
<head></head>
<body>

<div layout:fragment="header-additional" class="text-right">
  <form action="/search" method="get" class="d-inline-block underline" id="search">
    <input type="text" class="clear" placeholder="Search" name="title">
    <button class="btn">
      <i class="fas fa-search"></i>
    </button>
  </form>
</div>

<div layout:fragment="content">
  <div th:unless="${isFiltered}" class="inner-container">
    <form action="/" method="post" th:object="${todoForm}" class="bold-underline pb-2">
      <span class="small-parts"><i class="fas fa-plus"></i></span>
      <input type="text" th:field="*{title}" class="create-form-input clear" placeholder="Add a to-do">
      <button type="submit" class="hidden-btn"></button>
    </form>
    <p th:if="${isTitleDuplicated}" class="text-danger" th:text="#{w.0000}"></p>
  </div>

  <div th:if="${isFiltered}" class="inner-container mt-5">
    <p th:text="#{i.0005(${query})}"></p>
    <p th:if="${todos.isEmpty()}" th:text="#{i.0003}" class="mt-1"></p>
    <p th:unless="${todos.isEmpty()}" th:text="#{i.0004(${todos.size()})}" class="mt-1"></p>
  </div>

  <div class="inner-container mt-5" th:each="todo : ${todos}">
    <div class="underline mt-3">
      <button class="btn small-parts">
        <i class="fas fa-check-square"></i>
      </button>
      <p class="d-inline-block" th:text="${todo.title}"></p>
      <div class="float-right">
        <form th:action="|/${todo.id}|" th:method="get" class="d-inline">
          <button class="btn small-parts">
            <i class="fas fa-edit"></i>
          </button>
        </form>
        <form th:action="@{/{id}(id=${todo.id})}" th:method="delete" class="d-inline">
          <button class="btn small-parts">
            <i class="fas fa-trash-alt"></i>
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
</body>
</html>
